doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1,maximum-scale=1,user-scalable=no")
    title Texture Maps
    link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="style.css")
  body
    .container
      .row
        .col-sm-12
          .hero-unit
            h1 Art Maps
            h3 Make-Your-Own Map
      .row.borderbottom
        .col-sm-12.col-md-6
          h4 Create textures from your own images
          a.btn.btn-primary(href="/map/create") Get Started!
        .col-sm-12.col-md-6
          h4 View Examples
          a.btn.btn-primary(href="/sample") Van Gogh Map
      .row
        .col-sm-12
          iframe(src="/sample")
          img.mobile(src="/haiti.jpg", alt="Van Gogh Map")
