doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1,maximum-scale=1,user-scalable=no")
    title Texture Maps
    link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="style.css")
  body
    .container
      .row
        .col-sm-12
          .hero-unit
            h3 Make-Your-Own Art Maps
      .row
        .col-sm-12.col-md-6
        .col-sm-12.col-md-6
        
